<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./stylesheets/style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet" />
	</head>
	<body>
		<header>
			<div class="izbornik">
				<div class="izbornik_logo">
					<img src="./images/LOGO.svg" alt="" class="logo" />
				</div>
				<a href="/" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">Početna</div>
					</div>
				</a>
				<a href="#onama" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">O nama</div>
					</div>
				</a>
				<a href="/moje_rezervacije" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">Moje rezervacije</div>
					</div>
				</a>
			</div>
		</header>
		<main>
			<div class="wallpaper">
				<div class="wallpaper_nav">
					<div class="kamp_adriatic">Kamp Adriatic</div>
					<div class="ka_padding"></div>
					<a href="/rezervacija">
						<button class="rezerviraj_btn">Rezerviraj parcelu</button>
					</a>
					<div style="padding-bottom: 100px"></div>
				</div>
			</div>
			<div class="opis">
				<div class="opis_naslov" id="onama">
					Kamp za savršen obiteljski odmor
				</div>
				<div class="opis_tekst">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas
					pulvinar lorem non vulputate. Fusce fermentum sodales sagittis. Morbi
					at risus a sapien ultrices pharetra eu sit amet justo. Nunc sit amet
					mi a ipsum sodales vehicula. Curabitur elementum vehicula tortor at
					imperdiet. Nunc lobortis a neque sit amet sagittis. In hac habitasse
					platea dictumst. Nunc commodo sodales tristique. Nullam a ultrices
					est. Pellentesque iaculis purus ut viverra efficitur. Donec non est
					non ex sagittis cursus ut sit amet dui. <br />
					<br />Nam sit amet nisi ut justo luctus ullamcorper. Ut vel tempus
					metus. Suspendisse euismod elementum porta. Sed sagittis ligula nec
					magna malesuada laoreet. Quisque in tristique nibh. Vivamus sed turpis
					fringilla, mollis sem vitae, dictum massa. Vivamus laoreet eu ante
					volutpat facilisis.
				</div>
			</div>
			<div class="kamp_slike">
				<div class="img_holder_kamp">
					<img src="./images/kamp_1.png" alt="" />
				</div>
				<div class="img_holder_kamp">
					<img src="./images/kamp_2.png" alt="" />
				</div>
			</div>
		</main>
		<footer>
			<div class="footer">
				<% if(locals.loginEmail) { %>
				<form action="/logout" method="POST">
					<button type="logout">Logout</button>
				</form>
				<% } else { %>
				<a href="./login">Prijavi se</a>
				<%}%>
				<a href="./register">Registriraj se</a>
			</div>
		</footer>
	</body>
</html>
