<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./stylesheets/style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet" />
	</head>
	<header>
		<div class="izbornik">
			<div class="izbornik_1_2">
				<div class="izbornik_logo">
					<img src="./images/LOGO.svg" alt="" class="logo" />
				</div>
			</div>
			<div class="izbornik_2_2">
				<a href="/" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">Početna</div>
					</div>
				</a>
				<a href="#onama" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">O nama</div>
					</div>
				</a>
				<a href="/moje_rezervacije" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">Moje rezervacije</div>
					</div>
				</a>
			</div>
		</div>
	</header>
	<body>
		<p style="padding: 10px">
			Za rezervacije i ostala pitanja, javite nam se na telefonski broj
			xxx-xxx-xxxx ili na e-mail kamp.adriatic@adriatic.com
		</p>
	</body>
</html>
