<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./stylesheets/style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet" />
	</head>
	<header>
		<div class="izbornik">
			<div class="izbornik_1_2">
				<div class="izbornik_logo">
					<img src="./images/LOGO.svg" alt="" class="logo" />
				</div>
			</div>
			<div class="izbornik_2_2">
				<a href="/" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">Početna</div>
					</div>
				</a>
				<a href="#onama" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">O nama</div>
					</div>
				</a>
				<a href="/moje_rezervacije" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">Moje rezervacije</div>
					</div>
				</a>
			</div>
		</div>
	</header>
	<body>
		<form action="/login" method="POST" class="form_field_A">
			<div class="input_okvir">
				<div class="input_field_text">Email</div>
				<div>
					<label for="email"></label>
					<input
						type="email"
						name="email"
						id="email"
						required
						class="input_field_A" />
				</div>
				<div class="input_field_text">Lozinka</div>
				<div>
					<label for="password"></label>
					<input
						type="password"
						name="password"
						id="password"
						required
						class="input_field_A" />
				</div>
				<br />
				<button type="submit" class="promijeni_btn">Prijavi se</button>
			</div>
		</form>
		<p>
			Zaboravili ste lozinku? Možete promijeniti lozinku klikom na ovaj
			<a href="/promijeni_lozinku" style="color: blue; font-weight: 600"
				>link.</a
			>
		</p>
	</body>
</html>
