<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./stylesheets/style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet" />
	</head>
	<header>
		<div class="izbornik">
			<div class="izbornik_logo">
				<img src="./images/LOGO.svg" alt="" class="logo" />
			</div>
			<a href="/cijena_admin" class="izbornik_linkovi">
				<div class="izbornik_vanjski">
					<div class="izbornik_unutarnji">Promijeni cijenu</div>
				</div>
			</a>
			<a href="/rezerviraj_admin" class="izbornik_linkovi">
				<div class="izbornik_vanjski">
					<div class="izbornik_unutarnji">Rezerviraj</div>
				</div>
			</a>
			<a href="/otkazivanje_admin" class="izbornik_linkovi">
				<div class="izbornik_vanjski">
					<div class="izbornik_unutarnji">Otkaži</div>
				</div>
			</a>
		</div>
	</header>
	<body>
		<form action="/rezerviraj_admin" method="POST" class="form_field_A">
			<div class="input_okvir">
				<div>
					<div class="input_field_text">Parcela</div>
					<label for="parcela"></label>
					<input
						type="number"
						name="parcela"
						id="parcela"
						required
						class="input_field_A" />
				</div>
				<div>
					<div class="input_field_text">Datum</div>
					<label for="datum"></label>
					<input
						type="text"
						name="datum"
						id="datum"
						required
						class="input_field_A" />
				</div>
				<div>
					<div class="input_field_text">Email</div>
					<label for="email"></label>
					<input
						type="email"
						name="email"
						id="email"
						required
						class="input_field_A" />
				</div>
				<br />
				<button type="submit" class="promijeni_btn">Rezerviraj</button>
			</div>
		</form>
		<h2><%= locals.stateDisplay %></h2>
	</body>
</html>
