<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./stylesheets/style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet" />
	</head>
	<body>
		<header>
			<div class="izbornik">
				<div class="izbornik_logo">
					<img src="./images/LOGO.svg" alt="" class="logo" />
				</div>
				<a href="/" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">Početna</div>
					</div>
				</a>
				<a href="/#onama" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">O nama</div>
					</div>
				</a>
				<a href="/" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">Moje rezervacije</div>
					</div>
				</a>
			</div>
		</header>
		<main>
			<div class="rezervacija_naslov">Rezervacija</div>
			<div class="plan_div">
				<img src="./images/plan.png" alt="" />
			</div>
			<div class="kartice">
				<div class="kartica">
					<div class="kartica_naslov">Mobilna kuća 1</div>
					<img src="./images/parcela_img.png" alt="" />
					<div class="kartica_informacije">Informacije</div>
					<div>
						<ul>
							<li>Dimenzije: 32m²</li>
							<br />
							<li>Udaljenost od mora: 75 m</li>
							<br />
							<li>Dozvoljeno osoba: 7</li>
							<br />
							<li>Dozvoljeni kućni ljubimci</li>
						</ul>
					</div>
					<div class="kartica_rezerviraj">
						<a href="/mb_1">
							<div class="kartica_btn">Rezerviraj online</div>
						</a>
						<a href="/kontakt">
							<div class="kartica_btn">Rezerviraj preko e-mail/telefona</div>
						</a>
					</div>
				</div>
				<div class="kartica">
					<div class="kartica_naslov">Mobilna kuća 2</div>
					<img src="./images/parcela_img_m.png" alt="" />
					<div class="kartica_informacije">Informacije</div>
					<div>
						<ul>
							<li>Dimenzije: 32m²</li>
							<br />
							<li>Udaljenost od mora: 75 m</li>
							<br />
							<li>Dozvoljeno osoba: 7</li>
							<br />
							<li>Dozvoljeni kućni ljubimci</li>
						</ul>
					</div>
					<div class="kartica_rezerviraj">
						<a href="/mb_2">
							<div class="kartica_btn">Rezerviraj online</div>
						</a>
						<a href="/kontakt">
							<div class="kartica_btn">Rezerviraj preko e-mail/telefona</div>
						</a>
					</div>
				</div>
				<div class="kartica">
					<div class="kartica_naslov">Mobilna kuća 3</div>
					<img src="./images/parcela_img.png" alt="" />
					<div class="kartica_informacije">Informacije</div>
					<div>
						<ul>
							<li>Dimenzije: 32m²</li>
							<br />
							<li>Udaljenost od mora: 75 m</li>
							<br />
							<li>Dozvoljeno osoba: 7</li>
							<br />
							<li>Dozvoljeni kućni ljubimci</li>
						</ul>
					</div>
					<div class="kartica_rezerviraj">
						<p>Trenutno nedostupno!</p>
						<a href="">
							<div class="kartica_btn_nedostupno">Rezerviraj online</div>
						</a>
						<a href="/kontakt">
							<div class="kartica_btn_nedostupno">
								Rezerviraj preko e-mail/telefona
							</div>
						</a>
					</div>
				</div>
				<div class="kartica">
					<div class="kartica_naslov">Mobilna kuća 4</div>
					<img src="./images/parcela_img_m.png" alt="" />
					<div class="kartica_informacije">Informacije</div>
					<div>
						<ul>
							<li>Dimenzije: 32m²</li>
							<br />
							<li>Udaljenost od mora: 75 m</li>
							<br />
							<li>Dozvoljeno osoba: 7</li>
							<br />
							<li>Dozvoljeni kućni ljubimci</li>
						</ul>
					</div>
					<div class="kartica_rezerviraj">
						<p>Trenutno nedostupno!</p>
						<a href="">
							<div class="kartica_btn_nedostupno">Rezerviraj online</div>
						</a>
						<a href="/kontakt">
							<div class="kartica_btn_nedostupno">
								Rezerviraj preko e-mail/telefona
							</div>
						</a>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
