<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./stylesheets/style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet" />
	</head>
	<header>
		<div class="izbornik">
			<div class="izbornik_1_2">
				<div class="izbornik_logo">
					<img src="./images/LOGO.svg" alt="" class="logo" />
				</div>
			</div>
			<div class="izbornik_2_2">
				<a href="/" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">Početna</div>
					</div>
				</a>
				<a href="#onama" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">O nama</div>
					</div>
				</a>
				<a href="/moje_rezervacije" class="izbornik_linkovi">
					<div class="izbornik_vanjski">
						<div class="izbornik_unutarnji">Moje rezervacije</div>
					</div>
				</a>
			</div>
		</div>
	</header>
	<body>
		<main>
			<div class="rezervacija_naslov" style="padding-bottom: 20px">
				Rezervacija
			</div>
			<div class="kartice">
				<% if (locals.parcela) { %>
				<div class="kartica">
					<div class="kartica_naslov">Mobilna kuća <%= locals.parcela %></div>
					<img src="./images/parcela_img.png" alt="" />
					<div class="kartica_informacije">Informacije</div>
					<div>
						<ul>
							<li>Dimenzije: 32m²</li>
							<br />
							<li>Dozvoljeno osoba: 7</li>
							<br />
							<li>Wifi</li>
							<br />
							<li>Dozvoljeni kućni ljubimci</li>
						</ul>
					</div>
					<div class="kartica_rezerviraj">
						<a href="/mb_1?query=<%= locals.parcela %>">
							<div class="kartica_btn">Rezerviraj online</div>
						</a>
						<a href="/kontakt">
							<div class="kartica_btn">Rezerviraj preko e-mail/telefona</div>
						</a>
					</div>
				</div>
				<% } else { %>
				<a href="/parcele_odabir">
					<div class="kartica_btn">Pogledaj parcele</div>
				</a>
				<% } %>
			</div>
		</main>
	</body>
</html>
